.login-container{
  margin: 10% auto;
  width: 85vw;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-items: flex-end;*/
  /*align-content: center;*/
  border: solid black 1px;
  border-radius: 15px;
}
.login-form-container{
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 2em;
  flex-direction: column;
  justify-items: flex-end;
  align-content: center;
}

.login-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input {
  width: 65vw;
}

button {
  /*width: 25%;*/
  font-size: 0.9rem;
}
