/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200..800&display=swap');
body {
  font-family: "Poppins", monospace;
  margin: 0;
  padding: 0;
}

button {
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.primary-button {
  background-color: #0090ff;
  border: none;
  color: white;
  padding: 1.2em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;

}

/*.primary-button:hover {*/
/*  color: #0090ff;*/
/*  background-color: white;*/
/*}*/

.secondary-button {
  background-color: #45bb00; /* Green */
  border: none;
  color: white;
  padding: 1.2em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

input {
  border-radius: 5px;
  height: 2rem;
  font-size: 1.2rem;
}

ul li {
  list-style: none;
}
